/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* @Media Section */

/* 1440p */

/* 1080p */

/* tablet */

/* mobile */

/* index code */
/*nav code*/
header{
	display:flex;
	/* border:1px solid red; */
	margin:0 auto;
	width:60%;
	justify-content:center;
}
.headerText{
	display:flex;
}
.headerleft {
	display:inline-block;
	/* border: 1px solid darkblue; */
	height:381px;
	width: 385px;
	vertical-align: middle;
	margin-left:20%;
}
nav{
	margin-left:20%;
	margin-bottom:5%;
	width:100%;
}
nav a{
	text-align:center;
	display:inline;
	font-weight:bold;
	color:grey;
	text-decoration:none;
	padding: 2%;
	vertical-align: middle;
}
/* nav ul li{
	color:grey;
	padding: 25px;
	display:inline;
} */



.headerlefttext h1{
	margin-top:10%;
	font-size:60px;
	font:Impact, fantasy;
	font-style: italic;
	text-align: center;
}
.headerleft .smallwhitebox{
	text-align: center;
	border: 1px dotted grey;
	width:100px;
	margin:auto ;

}
.headerleft .smallwhitebox a{
	text-decoration:none;
	color:black;
}
.headerright{
	display:inline-block;

	vertical-align: middle;
	
	
}
section hr{
	width: 60%;
}
.aroundImg{
	display:inline-block;
	margin-left:20%;
	margin-right:20%;
	
}
.left-stuff {
	display:inline-block;
	
	width:49%;
	
}
.aroundImg .right-stuff {
	display:inline-block;
	
	width:49%;
	
}
.middle-img{
	display:inline-block;
	margin-left:20%;
	margin-right:20%;
}

hr{
	border:1px solid black;
	width: 60%;
}
.aroundImgbot{
	margin-left: 20%;
	margin-right: 20%;
}
 .left, .right, .middle{
	display:inline-block;
	width: 32%;
}

address {
	text-align:left;
	margin-left:20%;
}

.Copyright{
	text-align:center;
	margin-top:5%;
	font-weight:bold;
}
.phonenumber {
	padding:4% 0;
}

/* Services page CSS */
.services hr{
	width: 90%;
}
nav {
	
	display:flex;
	width: 90%;
	color:grey;
	justify-content:space-between;
	flex-direction: row;
	align-items:center;
	/* border: 2px solid black; */
	margin-left: 5%;
	
}
/* header {
	width: 90%;
	margin-left:5%;
}

header h1{
	font-size:28px;
	margin-top:25px;
} */
nav a{
	text-decoration:none;
	color:gray;
	font-weight:bold;
}

/* content{
	display:flex;
	width: 90%;
	margin-left:5%;
	flex-direction:column;
	/* border: 1px solid green; */
} */
.services-header-img{
	width:100%;
	
}

.learnMore{
	color:black;
	border: 1px solid black;
	padding: 2% 15%;
	margin-left: 0px;
	margin-top: 3%;
	width: 20%;
	justify-content:flex-start;
	border-radius:5px;
	text-decoration:none;
	font-weight:bold;
	background: white;


}

.service-list{
	display:flex;
	flex-wrap:wrap;
	justify-content: space-between;
	margin: 0px;

}
.learnbox{
	border:1px solid black;
	width: 45%;
	padding:5%;
	margin-top: 5%;
	margin-bottom:5%;
	background: lightgrey;
}
.learnbox p{
	padding: 2%;
	margin-bottom:5%
}

.serviceFacts{
	display:flex;
	flex-wrap:wrap;
	width: 100%;
	margin-top: 3%;
	justify-content:space-between;
	
	
}
.serviceFacts div{
	width: 45%;

}

.serviceFacts div ul li{
	list-style-type: square;
	justify-content: flex-start;
	/* padding:5%; */
	margin-left:3%;
	margin-top:2%;
}

.copyright{
	width:90%;
	font-size:20px;
	text-align:center;
	padding-top:1%;
	font-weight:bold;
	margin-left:5%;
	color:grey;

}


}
.services{
	width:90%;
	margin-left:5%;
}

/* content hr{
	width: 100%;
	margin:0;
} */
.serviceFacts img{
		
		width:100%;
		
	}